body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
}


.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  min-width: 290px;
  background-color: white;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 80vw;

  border-radius: 20px;
  
  @media (min-width: 390px) {
    width: 23vw;
  }
}

.qrCode {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;
  padding: 2vw;

  box-sizing: border-box;
}

.text {
  padding:5vw;
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  text-align: center;

  h1 {
    font-size: 15px;
    font-weight: 700;
  }

  h2 {
    font-size: 13px;
    color: hsl(216, 15%, 48%);
    font-weight: 500;
  }

  @media (min-width: 900px) {
    padding: 1vw;
  }
}