@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.outfit {
  font-family: "Outfit";
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: hsl(212, 45%, 89%);
  margin: 0;
  padding: 0;
  font-family: "outfit";
}



.center {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.box {
  min-width: 290px;
  background-color: white;

  display: flex;
  flex-direction: column;

  align-items: center;

  width: 80vw;

  border-radius: 20px;

  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
  
  @media (min-width: 390px) {
    width: 23vw;
  }
}

.qrCodeDiv {
  padding: clamp(10px,3vw,20px);
}

.qrCode {
  max-height: 100%;
  max-width: 100%;
  border-radius: 20px;

  box-sizing: border-box;
}

.text {
  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;

  padding-left: 2vw;
  padding-right: 2vw;
  padding-bottom: clamp(40px,2vh,50px);

  text-align: center;

  h1 {
    font-size: clamp(22px,1.6vw,50px);
    font-weight: 700;
    color: hsl(218, 44%, 22%);
  }

  h2 {
    font-size: clamp(16px,1.2vw,50px);
    color: hsl(216, 15%, 48%);
    font-weight: 400;
  }

}